tool-pad {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: var(--toolpad-width);
    z-index: 1;
    grid-area: toolpad;
}
tool-pad > button {
    height: var(--toolpad-width);
    width: var(--toolpad-width);
    background: white;
    border: 0;
    transform-origin: left;
    filter: grayscale(1);
    transition: all 0.3s, filter 0.1s;
}
tool-pad > :is(button:hover:not(.active), button.active) {
    filter: grayscale(0);
}
tool-pad > button:first-of-type {
    margin-top: var(--indent);
}
tool-pad > button:last-of-type {
    margin-bottom: var(--indent);
}
tool-pad > button.active {
    transform: translateX(10px);
    z-index:1
}